Here we work through a trivial exercise using missing values in Pandas.

In [ ]:
import pandas as pd
import numpy as np
import re

In [9]:
df = pd.DataFrame({"A" : ["Some text from 1990", "Some text from 2001", "Some text from 2015"]})
df

                     A
0  Some text from 1990
1  Some text from 2001
2  Some text from 2015

In [32]:

def getdate(x):
    return re.sub(".*(\\d{4}).*", "\\1", x)

df.applymap(getdate)

      A
0  1990
1  2001
2  2015

In [33]:
df2 = pd.DataFrame({"A" : ["Some text from 1990", np.nan, "Some text from 2015"]})

df2.applymap(getdate)

TypeError: ('expected string or buffer', 'occurred at index A')

In [37]:
## Stupid Hack #1
def getdate2(x):
    print(x.__class__)
    try:
        return re.sub(".*(\\d{4}).*", "\\1", x)
    except:
        pass

df2.applymap(getdate2)

<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>

      A
0  1990
1  None
2  2015

In [53]:
## Stupid Hack 2
def getdate2(x):
    if isinstance(x, str):
        return re.sub(".*(\\d{4}).*", "\\1", x)
    else:
        np.nan

out = df2.applymap(getdate2)
out

      A
0  1990
1  None
2  2015

In [54]:

## What is "None"?  Is that NaN?  hmm..  I  can't seem to extract a value in Pandas....
out.iloc(1,1)

In [52]:
out.iat(1,1)